#container{
    position: relative;
    margin: auto;
    height: 440px;
    width: 440px;
    background: url(s.png) no-repeat;
    background-size: 100%;
}

#hour, #minute, #second{
    position:absolute;
    background: black;
    border-radius: 10px;
    transform-origin: bottom;
}
#hour{
    width: 1%;
    height: 23%;
    top:27.3%;
    left:49.5%;
    background-color: black;
}
#minute{
    width: 1%;
    height: 29.5%;
    top:21%;
    left:49.6%;
    background-color: black;
}
#second{
    width: 1%;
    height: 33%;
    top:17.3%;
    left:49.65%;
    background-color: black;
}